#map {
		height: 700px;
		width: 700px;
		float: left;
		padding: 20px;
}

.date_box {
		height: 800px;
		width: 400px;
		margin-left: 800px;
		padding: 20px;
		text-align: center;
}
.loading_div {
		height: 100%;
		width: 100%;
}
