#container {
		margin-left: auto ;
		margin-right: auto ;
		width: 1000px;
		position: relative;
		background-color: #ffffff;
		clear: both
}

#mainpanel {
		width: 100%;
		height: 100%;
		clear: both
}

#header {
        padding-top: 10px; 
        padding-bottom: 10px; 
		text-align: center;
		margin-left: auto ;
		margin-right: auto ;
		width: 500px

}

h1 {
		float: left; 
		position: relative;
		font-family: verdana;

}
img {
		float: right;
		position: relative;
}


/* #gisbar .x-panel-body { */
/* 	text-align: center, */
/* 	/* background: #ffe; */ */
/*     background-color: #555; */
/*     color: #15428B; */
/* } */
/* #gisbar .x-panel-header-text { */
/*     color:#555; */
/* } */
